.btn-ok {
    background-color: pink;
}

.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-body {
    background-color: white;
    border-radius: 5px;
    width: 1200px;
    /*height: 450px;*/
}

.form-div {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 70px;
    background-color: white;
    height: 28px;
    margin-left: 4px;
    border: none;
}



.input {
    font-size: 20px;
    text-align: center;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.title-text-big{
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}
.title-text-small {
    color: white;
}
